{% extends 'base.html' %}

{% block title %} Kekambas Blog | Home {% endblock %}

{% block content %}
  {% if current_user.is_authenticated %}
    <h4>Welcome {{ current_user.username }} </h4>
  {% else %}
    <h4>Please sign up for our blog!</h4>
  {% endif %}

      {% for post in posts %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ post.username }} on <cite title=""Source Title>{{ post.date_created.strftime('%A, %B %d, %y') }}</cite> </h6>
            <p class="card-text">{{ post.body }}</p>
          </div>
        </div>
      {% endfor %}

{% endblock %}
